@model List<Rental>

@if (TempData["basarili"] != null)
{
    <div class="alert alert-success">
        @TempData["basarili"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div class="conteiner">

    <div class ="row pt-3 pb-4"
        <div>
            <h1>Kiralamalar Sayfası</h1>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    CustomerId
                </th>
                <th>
                    CarId
                </th>
                
                </th>
                <th>   
                   
                </th>
                <th>
                  
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var rental in Model)
            { 
                <tr>
                    <td>@rental.Id</td>
                    <td>@rental.CustomerId</td>
                    <td>@rental.CarId</td>
                   
                    <td>
                        <a asp-controller="Rental" asp-action="AddUpdate" asp-route-id="@rental.Id" type="button" class="btn btn-info" style="width:150px">Güncelle</a>
                    </td>
                    <td>
                        <a asp-controller="Rental" asp-action="Delete" asp-route-id="@rental.Id" type="button" class="btn btn-danger" style="width:150px">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
        


    </table>

    <div class="row pt-3 pb-2">
        <div>
            <a asp-controller="Rental" asp-action="AddUpdate" class="btn btn-lg btn-primary" type="button">
                Yeni Kiralama Oluştur

            </a>
        </div>

    </div>


</div>